*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width:100%
}

#main{
    width:100%;
    height: 100%;
}

.nav {    
    height: 10vh;
    display:flex;
    justify-content:space-between;
    align-items: center;        
    margin:0px 15px 20px 15px;  
}
@media screen and (max-width:768px){
    .nav{ margin:0px 5px 20px 5px; }
}

.nav h3{
    text-transform:uppercase;
    font-size: 30px;
    font-weight: 100;
}
.nav span{
    font-weight: 800;
}
.links{
    display: none;
}

@media screen and (min-width:768px) {
    .links{
        display: flex;
        gap: 50px;
    }
}

.links a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 100;
}
.menubar {
    display: none;
    border: none;
}

#menuicon {
    font-size: 1.4rem;
    font-weight: 800;
}

@media screen and (max-width: 767px) {
    .menubar { display: block; }
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border:none;
}
@media screen and (max-width: 767px){
   .heading{ border:2px solid red; }
}

.heading h2{
    font-weight: 200;
    font-size:40px;
}

.heading p {
    margin:20px 5px;
    max-width: 30em;
    font-size:18px;
}
.heading button {
    border-radius: 50px;
    padding: 4px 25px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: black;
}
.illus img{
    width: 100%;
    height:800px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.dleft {
    width:48%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.dleft h2 {
    font-weight: 550;
    font-size:24px;
}

.miniline {
    height: 1px;
    border-bottom: 2px solid black; 
    margin: 20px 30px 20px 0px;
    width: 28px;
}

.dleft p {
    max-width:180px;
}

.dright {
    width:48%;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom:10px;
    border-left: 2px solid #000;
}

.dright  .childfeat {
    display: flex;
    gap: 8px;
    margin-bottom: 22px;
}

.dright .feat{
    height: 50px;
    width:50px;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}

.dright .fdeta h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.dright .fdeta p {
    max-width: 230px;
}

@media screen and (max-width:670px){

    .details {
        display: flex;
        flex-direction:column;
    }
    .dleft {
        width:100%;
        align-items:center;
    }
    .miniline{
        margin: 10px 0px;
    }

    .dright {
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding: 0px 5px;
    }
}
